{{ define "main" }}

<nav>
  <div class="nav-container">
    <a class="link" href="/about">
      <div class="link-container green">
        <img src="/icons/icon_About.svg" aria-hidden="true">
      </div>
      <span>About</span>
    </a>
    <a class="link" href="https://www.youtube.com/curiousvr">
      <div class="link-container red">
        <img src="/icons/icon_Youtube.svg" aria-hidden="true">
      </div>
      <span>Videos</span>
    </a>
    <a class="link active" href="/blog">
      <div class="link-container yellow">
        <img src="/icons/icon_Blog.svg" aria-hidden="true">
      </div>
      <span>Blog</span>
    </a>
    <a class="link" href="https://twitter.com/CuriousVR_tv">
      <div class="link-container blue">
        <img src="/icons/icon_Twitter.svg" aria-hidden="true">
      </div>
      <span>Social</span>
    </a>
  </div>
</nav>
<p class="curious"><a href="/contact">Curious? Click Here!</a></p>

<div class="blog-container">
  <img class="banner" src="{{ .Params.banner }}" alt="{{ .Params.alt }}">
  {{ .Content | safeHTML }}
</div>

<div class="comment-container">
  <script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
  <script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
  <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
  <div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
  <noscript>Please enable Javascript to view comments.</noscript>
  <p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
  <a href="https://www.talkyard.io">Talkyard</a>.</p>
  </div>
</div>
{{ end }}