{{ define "main" }}

<nav>
  <div class="nav-container">
    <a class="link" href="/about">
      <div class="link-container green">
        <img src="/icons/icon_About.svg" aria-hidden="true">
      </div>
      <span>About</span>
    </a>
    <a class="link" href="https://www.youtube.com/curiousvr" target="_blank" rel="noopener">
      <div class="link-container red">
        <img src="/icons/icon_Youtube.svg" aria-hidden="true">
      </div>
      <span>Videos</span>
    </a>
    <a class="link" href="/blog">
      <div class="link-container yellow">
        <img src="/icons/icon_Blog.svg" aria-hidden="true">
      </div>
      <span>Blog</span>
    </a>
    <a class="link" href="https://www.facebook.com/CuriousVR.tv" target="_blank">
      <div class="link-container blue">
        <img src="/icons/icon_Facebook.svg" aria-hidden="true">
      </div>
      <span>Social</span>
    </a>
  </div>
</nav>
<p class="curious"><a href="/contact">Curious? Click Here!</a></p>
<div class="text-container">
  <h1>Contact</h1>
  <form
    action="https://formspree.io/xleornzj"
    method="POST"
    class="contact-form"
  >
  <label for="name">Your name:</label>
  <input type="text" name="name" id="name">
  <label for="email">Your email:</label>
  <input type="email" name="_replyto" id="email">
  <label for="message">Your message:</label>
  <textarea name="message" id="message"></textarea>
  <button type="submit">Send</button>
</form>
</div>

{{ end }}